@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    img {
        @apply inline-block;
    }
}

/* Abstract styles and variables */
:root {
    --default: #121213; 
    --correct: #538d4e;
    --misplaced: #b59f3b;
    --wrong: #3a3a3c;
    --filled-border: 2px solid #565758;
    --unfilled-border: 2px solid #3a3a3c;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0b0b0b; 
    font-family: Inter, Arial, Helvetica, sans-serif;
    user-select: none;
}

button {
    outline-color: transparent;
}

/* Main styles */
.clipboard-modal.appear {
    animation: copy-modal-appear 600ms ease-in-out 0s 1 normal forwards;
}

.clipboard-modal:not(.appear) {
    animation: copy-modal-disappear 600ms ease-in-out 0s 1 normal forwards;
}

.end-screen {
    animation: end-screen-appear 600ms ease-in-out 0s 1 normal forwards;
}

.filled {
    animation: bounce 115ms ease-in-out 0s 1 normal forwards;
    border: var(--filled-border);
}

.filled.border-correct {
    border: 2px solid var(--correct);
}

.filled.guessed {
    border: 2px solid var(--color);
}

.wordle-tile:not(.filled){
    animation: drop 115ms ease-in-out 0s 1 normal forwards;
    border: var(--unfilled-border);
}

/* Animation effect classes */
.roll-tile {
    animation: roll 600ms linear calc(var(--index) * 0.25) 1 normal forwards;
}

.jump {
    animation: jump-anim 200ms ease-in-out calc((var(--index) * 0.15) + 0.8s) 1 normal forwards;
}

.delete-after {
    animation: fade-out 200ms ease-in-out 2s 1 normal forwards;
}

/* All Animations Keyframes */
@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes drop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
}

@keyframes jump-anim {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-2rem);
    }
    0%, 100% {
        border: 2px solid var(--color);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes roll {
    from {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    50.01% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
    from, 50% {
        background-color: var(--default);
        border: var(--filled-border);
    }
    50.01%, 100% {
        background-color: var(--color);
        border: 2px solid var(--color);
    }
}

@keyframes end-screen-appear {
    from {
        transform: translateY(60px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes copy-modal-appear {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes copy-modal-disappear {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-40px);
        opacity: 0;
    }
}